header {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.title p {
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: white;
    background-color: #8a2be2;
    border-radius: 10px;
    cursor: pointer;
}
.time p {
    line-height: 50px;
    font-size: 16px;
}