header {
    display: flex;
    justify-content: space-between;
}

.title p {
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: rgb(189, 32, 200);
    border-radius: 10px;
    cursor: pointer;
}

.time p {
    line-height: 50px;
    font-size: 16px;
}

main {
    width: 600px;
    margin: 0 auto;
}
  
.quiz {
    padding: 20px 0;
}
.quiz p {
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}

.choice {
    background-color: rgb(52, 33, 158);
    margin: 10px;
    width: 200px;
    text-indent: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.choice p {
    text-align: center;
    line-height: 40px;
    color: white;
}

#one,
#two,
#three,
#four,
#five,
#gradepage,
#highscorepage {
  display: none;
}

.startbtn {
    
    background-color: rgb(22, 42, 110);
    margin: auto;
    width: 160px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    display:block
}
.startbtn p {
    line-height: 40px;
    color: white;
}

.answer {
    border-top: 1px solid #999;
    padding-top: 10px;
}

button {
    text-align: center;
    background-color: rgb(6, 120, 35);
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
    border: none;
}

.text {
    padding: 10px 0;
}
.text p {
    text-align: center;
    line-height: 25px;
}
.text input {
    width: 120px;
    height: 30px;
    border: 1px solid cornflowerblue;
    outline: none;
    text-indent: 10px;
}

#res {
    background-color: #f8f6f6;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
.HighScoreDisplay {
    display: flex;
    flex-wrap: wrap;
}
#sub,
#goback,
#clearrecords {
    cursor: pointer;
}